<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Device info</title>
    <link th:href="@{/styles/index.css}" rel="stylesheet" />
</head>
<body>
    <h2>Requested device data:</h2>

    <table>
        <thead>
        <tr>
            <th> ID </th>
            <th> Name </th>
            <th> Owner </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${devices.isEmpty()}">
            <td colspan="2"> No Device Available </td>
        </tr>
        <tr th:each="device : ${devices}">
            <td><span th:text="${device.getId()}"> Id </span></td>
            <td><span th:text="${device.getName()}"> Id </span></td>
            <td><span th:text="${device.getOwner()}"> Owner </span></td>
        </tr>
        </tbody>
    </table>
</body>
</html>